<footer>
    <a href="/"><img src="https://github.com/awfixer-org.png" width="512" height="512" alt=""/>moddedandroid</a>
    <ul id="social">
        <li><a href="https://discord.awfixer.com">Discord</a></li>
        <li><a href="https://help.awfixer.com/contact-us">Contact</a></li>
        <li><a href="https://help.awfixer.com/legal/general-terms/terms-of-service">Terms and Conditions</a></li>
        <li><a href="https://help.awfixer.com/legal/general-terms/privacy-policy">Privacy Policy</a></li>
    </ul>
</footer>